[Unit]
Description=Hyprland's idle daemon
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
