[Unit]
Description=Vicinae Launcher Daemon
Documentation=https://docs.vicinae.com
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=vicinae server
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
