[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = Benny Powers
	email = web@bennypowers.com
[core]
	excludesfile = /Users/bennyp/.config/git/gitignore
	editor=nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/bennyp/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	ap = add -p
	ca = commit --amend
	ci = commit
	cim = commit --message
	co  = checkout
	count = "!f() { compareBranch=${1-master}; git rev-list --count HEAD ^$compareBranch; }; f"
	f = !git ls-files | grep -i
	fush = push --force
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pt = push --tags
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	s	= status

[pull]
	ff = only
[init]
	defaultBranch = main

# If you want to set up Kaleidoscope as the default diff tool,
# then also set the following variables:
# [mergetool "Kaleidoscope"]
# 	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
# [difftool]
# 	prompt = false
# [diff]
#	  tool = Kaleidoscope
# [mergetool]
# 	prompt = false
# [merge]
# 	tool = Kaleidoscope

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
