[user]
	name = Benny Powers
	email = web@bennypowers.com

[core]
	excludesfile = /Users/bennyp/.config/git/gitignore
	editor=nvim
	pager = delta

[alias]
	ap = add -p
	ca = commit --amend
	ci = commit
	cim = commit --message
	co  = checkout
	count = "!f() { compareBranch=${1-master}; git rev-list --count HEAD ^$compareBranch; }; f"
	f = !git ls-files | grep -i
	fush = push --force
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pt = push --tags
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	s	= status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/bennyp/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[pull]
	ff = only
[init]
	defaultBranch = main

[merge]
  tool = vimdiff
	conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
	colorMoved = default

[include]
	path = ~/.config/delta/themes.gitconfig

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	features = collared-trogon
	syntax-theme = Dracula
	navigate = true

[delta "interactive"]
	keep-plus-minus-markers = false
