[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Benny Powers
	email = web@bennypowers.com
[core]
	excludesfile = /Users/bennyp/.config/git/gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/bennyp/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/bennyp/.stCommitMsg
[alias]
	ap = add -p
	ca = commit --amend
	ci = commit
	cim = commit --message
	co  = checkout
	count = "!f() { compareBranch=${1-master}; git rev-list --count HEAD ^$compareBranch; }; f"
	f = !git ls-files | grep -i
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pt = push --tags
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	s	= status

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default diff tool,
# then also set the following variables:
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default merge tool,
# then also set the following variables:
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[pull]
	ff = only
