prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "swww-daemon"

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

environment {
    HYPRCURSOR_THEME "phinger-cursors-dark"
    HYPRCURSOR_SIZE "48"
    XCURSOR_THEME "phinger-cursors-dark"
    XCURSOR_SIZE "48"
    QT_QPA_PLATFORMTHEME "qt5ct"
    XDG_CURRENT_DESKTOP "NiRi"
    XDG_SESSION_DESKTOP "NiRi"
    XDG_SESSION_TYPE "wayland"
    XDG_DATA_DIRS "/usr/local/share:/usr/share:/var/lib/flatpak/exports/share:/home/bennyp/.local/share/flatpak/exports/share"
}

cursor {
  xcursor-theme "phinger-cursors-dark"
  xcursor-size 48
}

workspace "workmode"

// niri >v25.08
// workspace "workmode" {
//   layout {
//     preset-column-widths {
//       proportion 1
//     }
//   }
//
//   window-rule {
//     open-fullscreen true
//   }
// }

binds {
    "Mod+h" { focus-column-left; }
    "Mod+j" { focus-window-down; }
    "Mod+k" { focus-window-up; }
    "Mod+l" { focus-column-right; }

    "Mod+Shift+h" { move-column-left; }
    "Mod+Shift+j" { move-window-down; }
    "Mod+Shift+k" { move-window-up; }
    "Mod+Shift+l" { move-column-right; }

    "Mod+Shift+f" { fullscreen-window; }

    "Mod+Tab" { focus-window-down-or-column-right; }
    "Mod+Shift+Tab" { focus-window-up-or-column-left; }

    // Workspace navigation
    "Mod+Ctrl+h" { consume-or-expel-window-left; }
    "Mod+Ctrl+l" { consume-or-expel-window-right; }

    // Window controls
    "Mod+c" { toggle-window-floating; }
    "Mod+u" { switch-preset-column-width; }
    "Mod+i" { toggle-column-tabbed-display; }

    // Applications
    "Mod+t" repeat=false { spawn "kitty"; }
    "Mod+f" repeat=false { spawn "nautilus"; }
    "Mod+e" repeat=false { spawn "thunderbird-bin"; }
    "Mod+b" repeat=false { spawn "flatpak" "run" "app.zen_browser.zen"; }
    "Mod+p" repeat=false { spawn "vicinae" "toggle"; }
    "Mod+o" repeat=false { toggle-overview; }

    "Mod+q" { close-window; }
    "Mod+Shift+q" { quit; }

    // Special workspaces
    "Mod+w" { focus-workspace "workmode"; }
    "Mod+Shift+w" { move-window-to-workspace "workmode"; }

    "MouseForward" { toggle-overview; }

    "Mod+WheelScrollDown" { focus-workspace-down; }
    "Mod+WheelScrollUp" { focus-workspace-up; }
    "Mod+WheelScrollRight" { focus-column-left; }
    "Mod+WheelScrollLeft" { focus-column-right; }

    // Media keys
    "XF86AudioRaiseVolume" { spawn "uwsm" "app" "--" "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    "XF86AudioLowerVolume" { spawn "uwsm" "app" "--" "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    "XF86AudioMute" { spawn "uwsm" "app" "--" "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    "XF86AudioMicMute" { spawn "uwsm" "app" "--" "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    "XF86MonBrightnessUp" { spawn "uwsm" "app" "--" "brightnessctl" "-e4" "-n2" "set" "5%+"; }
    "XF86MonBrightnessDown" { spawn "uwsm" "app" "--" "brightnessctl" "-e4" "-n2" "set" "5%-"; }

    // Media control
    "XF86AudioNext" { spawn "uwsm" "app" "--" "playerctl" "next"; }
    "XF86AudioPause" { spawn "uwsm" "app" "--" "playerctl" "play-pause"; }
    "XF86AudioPlay" { spawn "uwsm" "app" "--" "playerctl" "play-pause"; }
    "XF86AudioPrev" { spawn "uwsm" "app" "--" "playerctl" "previous"; }

    // Screenshots
    "Print" { screenshot; }
    "Mod+Print" { screenshot-window; }
    "Mod+Shift+Print" { screenshot-screen; }

    // VM viewer
    "Mod+v" { spawn "uwsm" "app" "--" "virt-viewer" "--hotkeys=release-cursor=shift+escape" "--connect" "qemu:///system"; }
}

// Input configuration
input {
    keyboard {
        xkb {
            layout "us,adelman"
            options "grp:win_space_toggle"
        }
    }

    focus-follows-mouse

    mouse {
        natural-scroll
    }

    touchpad {
        natural-scroll
    }

    trackball {
        natural-scroll
    }
}

output "DP-1" {
    mode "5120x2160@120.000"
    scale 1
}

output "DP-2" {
    mode "5120x2160@120.000"
    scale 1
}

layout {
    gaps 16
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width {
      proportion 0.33333;
    }

    focus-ring {
        width 4
        active-color "#c6a0f6"  // catppuccin macchiato mauve
        inactive-color "#494d64" // catppuccin macchiato surface1
    }

    border {
        off
        width 4
        active-color "#c6a0f6"  // catppuccin macchiato mauve
        inactive-color "#494d64" // catppuccin macchiato surface1
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
    }

    struts {
        top 48
        bottom 48
    }
}

layer-rule {
    match namespace="quickshell-polkit-agent"
    shadow {
        on
        spread 500
        softness 0
        offset x=0 y=0
    }
}

layer-rule {
    match namespace="hyprpaper"
    place-within-backdrop true
}

// Window rules
window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

// kitty
window-rule {
  match app-id="kitty"
  default-column-width { proportion 0.25; }
}

// Bitwarden extension
window-rule {
    match app-id="zen" title=".*Bitwarden.*"
    open-floating true
    max-width 500
    max-height 800
    block-out-from "screen-capture"
}

// Network manager
window-rule {
    match title=".*Network Manager.*"
    open-floating true
}

// Overskride (bluetooth gui)
window-rule {
    match title="overskride"
    open-floating true
}

// Aisleriot
window-rule {
    match app-id="sol"
    default-column-width { fixed 1120; }
    open-floating true
}

// Nautilus previewer
window-rule {
    match app-id="org.gnome.NautilusPreviewer"
    open-floating true
}

// Virt viewer (workmode)
window-rule {
  match app-id="virt-viewer" title="silverblue.*"
  open-on-workspace "workmode"
  open-fullscreen true
  open-focused true
}

